bin/
obj/
.metadata/
ClassificadorLibras/bin/
ClassificadorLibras/.settings/
ClassificadorLibras/testes/
ClassificadorLibras/.classpath
ClassificadorLibras/.project
RemoteSystemsTempFiles/
*.csv
*.cbp
*.depend
*.layout
*.zip
*.png
*.pdf